[hidden] {
  display: none;
}

/* .jqx-scheduler-selected-appointment
{
border:2px !important;
border:solid !important;
border-color: red !important;
}  */

/* 
.windowPeriodContent
{
  background-color: red;
  height: 200px;
  overflow-y: scroll;
} */
/* 
.squareProject
{
    width: 20px;
    height: 20px;    
} */
