.iconmenu {
  font-size: 32px;
  color: var(--twenty-eighth-color);
  vertical-align: middle;
}

.navigation {
  list-style: none;
  margin: 0px;
  background-color: var(--first-color);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: -40px;
  height: 56px !important;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 12px;

  font-size: 14px;
  color: var(--twenty-eighth-color);

  /* background: red; */
  padding-left: 5px;
  padding-right: 5px;
  /* border:1px solid yellow; */
}

.navigation a span {
  /* margin-top:-5px !important; */
  margin-left: 5px;
  margin-right: 5px;
  /* background: green; */
}

.navigation a:hover {
  background-color: var(--twelfth-color);
  color: var(--thirteenth-color);
}

.navigation .titleMenu {
  text-decoration: none;
  display: block;
  padding: 13px;
  /* font-size:28px; */
  font-size: 24px;
  color: var(--thirteenth-color);

  margin-left: -40;
  font-weight: bold;
}

/* .menusel
  {           
      border-bottom: 4px solid var(--twelfth-color) !important;
  } */

li.selected {
  /* background-color: red;
    color: white; */

  border-bottom: 4px solid var(--twelfth-color) !important;
}

li.selected i,
li.selected a {
  color: var(--thirteenth-color);
}

li.selected:hover {
  /* background-color: var(--twelfth-color); */
}

@media all and (max-width: 1224px) {
  .navigation {
    padding: 0;
    background-color: var(--first-color);
  }

  .navigation a {
    text-align: center;
    padding: 12px;
    /* border-top: red; */
    /*1px solid rgba(255,255,255,0.3);*/
    border-bottom: var(--twenty-eighth-color); /*1px solid rgba(0,0,0,0.1);*/
  }

  .iconmenu {
    color: var(--twenty-eighth-color);
  }
  /* 
  .iconmenusel
  {
      color:var(--twelfth-color) !important;
  } */

  .navigation span {
    display: none;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .navigation .titleMenu {
    display: none !important;
  }
}
